In [2]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxy')

In [4]:
query_1 = """
SELECT COUNT(*) AS trip_count
FROM green_tripdata_data
WHERE DATE(lpep_pickup_datetime) = '2019-09-18' AND DATE(lpep_dropoff_datetime) = '2019-09-18';
"""

res = pd.read_sql(query_1, con=engine)

print(res)

   trip_count
0       15612

In [6]:
query_1 = """
SELECT
    DATE(lpep_pickup_datetime) AS pickup_day,
    MAX(trip_distance) AS max_trip_distance
FROM
    green_tripdata_data
WHERE
    DATE(lpep_pickup_datetime) IN ('2019-09-18', '2019-09-16', '2019-09-26', '2019-09-21')
GROUP BY
    DATE(lpep_pickup_datetime);
;
"""

res1 = pd.read_sql(query_1, con=engine)

print(res1)

   pickup_day  max_trip_distance
0  2019-09-21             135.53
1  2019-09-26             341.64
2  2019-09-16             114.30
3  2019-09-18              70.28

In [15]:
query_2 = """
SELECT
    tz."Borough",
    SUM(gtd.total_amount) AS total_amount_sum
FROM
    green_tripdata_data gtd
JOIN
    taxi_zone tz ON gtd."PULocationID" = tz."LocationID"
WHERE
    DATE(gtd."lpep_pickup_datetime") = '2019-09-18'
    AND tz."Borough" <> 'Unknown'
GROUP BY
    tz."Borough"
HAVING
    SUM(gtd.total_amount) > 50000
ORDER BY
    total_amount_sum DESC
LIMIT 3;



"""

res2 = pd.read_sql(query_2, con=engine)

print(res2)

     Borough  total_amount_sum
0   Brooklyn          96333.24
1  Manhattan          92271.30
2     Queens          78671.71

In [16]:
query_3 = """
SELECT
    tz_dropoff."Zone",
    MAX(gtd.tip_amount) AS max_tip_amount
FROM
    green_tripdata_data gtd
JOIN
    taxi_zone tz_pickup ON gtd."PULocationID" = tz_pickup."LocationID"
JOIN
    taxi_zone tz_dropoff ON gtd."DOLocationID" = tz_dropoff."LocationID"
WHERE
    DATE(gtd."lpep_pickup_datetime") >= '2019-09-01'
    AND DATE(gtd."lpep_pickup_datetime") <= '2019-09-30'
    AND tz_pickup."Zone" = 'Astoria'
GROUP BY
    tz_dropoff."Zone"
ORDER BY
    max_tip_amount DESC
LIMIT 1;

"""

res3 = pd.read_sql(query_3, con=engine)

print(res3)

          Zone  max_tip_amount
0  JFK Airport           62.31