In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.2.0'

In [3]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [4]:
df = next(df_iter)

In [5]:
len(df)

265

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxy')

In [8]:
print(pd.io.sql.get_schema(df, name='taxi_zone',con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [11]:
t_start = time()

df.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

t_end = time()

print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 0.055 second